@charset "UTF-8";

html {
	font-size: 62.5%;
}

body {
	font-size: 1.0rem;
}

#mainCts {
	color: #333;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.0rem;
}

.container {
	margin: 0 auto;
	padding: 0 60px;
	z-index: 20;
	position: relative;
	text-align: left;
}

@media screen and (max-width: 1024px) {
	.container {
		padding: 0 16px;
		width: auto;
		max-width: auto;
	}
}

#mainCts .pageTitle {
	padding-bottom: 20px;
	color: #364377;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
}

#mainCts .pageTitle::before,
#mainCts .pageTitle::after {
	content: " ";
	width: 100%;
	height: 0;
	border-color: #485173;
	border-style: solid;
	display: block;
	left: 0;
	position: absolute;
}

#mainCts .pageTitle::before {
	border-top-width: 3px;
	bottom: 5px;
}

#mainCts .pageTitle::after {
	border-top-width: 1px;
	bottom: 0;
}

@media screen and (max-width: 767px) {

	#mainCts .pageTitle {
		font-size: 2.6rem;
		line-height: 3.6rem;
	}

}

/*----- schema -----*/

#schemaCts {
	padding: 40px 0 60px;
	display: flex;
}

#schemaSide {
	margin: 0 70px 0 0;
	width: 280px;
}

#schemaMenuTitle {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
}

#schemaMenuTitle a {
	padding: 12px 12px;
	background: #485173;
	color: #fff;
	display: block;
	position: relative;
	pointer-events: none;
}

#schemaMenuList ul li {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.4rem;
}

#schemaMenuList ul li:not(:first-of-type) {
	border-top: 1px #c7c7c7 solid;
}

#schemaMenuList ul li a {
	padding: 15px 20px;
	background: #f5f5f5;
	color: #333;
	display: block;
}

#schemaMenuList ul li.set a,
#schemaMenuList ul li a:hover {
	background: #fff;
	color: #851D1D;
}

@media screen and (max-width: 767px) {

	#schemaCts {
		padding: 40px 0 30px;
		display: block;
	}

	#schemaSide {
		margin: 0 0 36px;
		width: 100%;
	}

	#schemaMenuTitle a {
		pointer-events: inherit;
	}

	#schemaMenuTitle a::after {
		content: " ";
		width: 0;
		height: 0;
		border-right: 8px solid transparent;
		border-top: 14px solid #fff;
		border-left: 8px solid transparent;
		display: block;
		right: 14px;
		top: 18px;
		position: absolute;
	}

	#schemaMenuList {
		display: none;
	}
	
	#schemaMenu.open #schemaMenuTitle a::after {
		transform:rotate(180deg);
		transform-origin:center center;
	}
	
	#schemaMenu.open #schemaMenuList {
		display: block;
	}
	
	#schemaMenuList ul li {
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 2.4rem;
	}

	#schemaMenuList ul li:not(:first-of-type) {
		border-top: 1px #c7c7c7 solid;
	}

	#schemaMenuList ul li a {
		padding: 15px 20px;
		background: #f5f5f5;
		color: #333;
		display: block;
	}

	#schemaMenuList ul li.set a,
	#schemaMenuList ul li a:hover {
		background: #fff;
		color: #851D1D;
	}

}


#schemaMain {
	width: calc(100% - 350px);
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.75;
}

#schemaMain a {
	color: #851D1D;
	text-decoration: underline;
}

#schemaMain a:hover {
	text-decoration: none;
}

#schemaMain h1 {
	padding-bottom: 20px;
	color: #364377;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
}

#schemaMain h1::before,
#schemaMain h1::after {
	content: " ";
	width: 100%;
	height: 0;
	border-color: #485173;
	border-style: solid;
	display: block;
	left: 0;
	position: absolute;
}

#schemaMain h1::before {
	border-top-width: 3px;
	bottom: 5px;
}

#schemaMain h1::after {
	border-top-width: 1px;
	bottom: 0;
}

#schemaMain section {
	margin-top: 40px;
	padding: 0 0 32px 40px;
	border-bottom: 2px #B9B9B9 dotted;
	word-break: break-all;
}

#schemaMain section:last-of-type {
	border-bottom: none;
}

#schemaMain .attribute {
	padding-left: 20px;
}

#schemaMain .above {
	padding-left: 20px;
}

#schemaMain h2 {
	margin: 0 0 24px -40px;
	padding: 3px 0 4px 46px;
	color: #364377;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 3.2rem;
}

#schemaMain #item h2 {
	background: url("img/icon01.svg") no-repeat 0 1px / 36px auto;
}

#schemaMain #description h2 {
	background: url("img/icon02.svg") no-repeat 0 1px / 36px auto;
}

#schemaMain #caution h2 {
	background: url("img/icon03.svg") no-repeat 0 0 / 36px auto;
}

#schemaMain #recommend h2 {
	background: url("img/icon04.png") no-repeat 0 0 / 38px auto;
}

#schemaMain #deprecate h2 {
	background: url("img/icon05.svg") no-repeat 0 0 / 37px auto;
}

#schemaMain #mapping h2 {
	background: url("img/icon06.svg") no-repeat 0 1px / 36px auto;
}

#schemaMain h3 {
	margin: 4px 0 16px;
	color: #364377;
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 3.2rem;
	position: relative;
}

#schemaMain h3::before {
	content: " ";
	width: 8px;
	height: 8px;
	border: 3px #485173 solid;
	border-radius: 50%;
	display: block;
	left: -20px;
	top: 12px;
	position: absolute;
}

#schemaMain h4 {
	margin: 12px 0 17px;
	padding: 0 0 0 30px;
	background: url("img/icon_above.svg") no-repeat 0 0 / 24px auto;
	color: #364377;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.4rem;
}

#schemaMain .border {
	margin: 0 0 12px;
	padding: 10px 16px;
	border: 1px #000 solid;
	color: #000;
	display: inline-block;
}

#schemaMain .border:not(:first-of-type) {
	margin-top: 16px;
}

#schemaMain .list .border {
	margin-top: 12px;
}

#schemaMain .label,
#schemaMain .repeat {
	flex-wrap: wrap;
	display: flex;
}

#schemaMain .label dt,
#schemaMain .repeat dt {
	margin-right: 0.5em;
}

#schemaMain .above > div,
#schemaMain .list > ul > li {
	margin: 8px 0 0;
	padding: 0 0 0 14px;
	position: relative;
}

#schemaMain .above > div::before,
#schemaMain .list > ul > li::before {
	content: " ";
	width: 8px;
	height: 8px;
	background: #485173;
	border-radius: 50%;
	display: block;
	left: 0;
	top: 10px;
	position: absolute;
}

#schemaMain .option {
	margin: 8px 0;
	padding: 0 0 0 16px;

}

#schemaMain .note {
	padding: 0 0 0 4px;

}

#schemaMain .option li,
#schemaMain .note li {
	padding: 0 0 0 14px;
	position: relative;
}

#schemaMain .option li {
	margin: 0 0 0;
}

#schemaMain .note li {
	margin: 8px 0 0;
}

#schemaMain .option li::before,
#schemaMain .note li::before {
	content: " ";
	width: 6px;
	height: 6px;
	border: 1px #000 solid;
	border-radius: 50%;
	display: block;
	left: 0;
	top: 10px;
	position: absolute;
}

#schemaMain .above > div dt,
#schemaMain .above > div dd {
	display: inline-block;
}

#schemaMain .above > div dt::after {
	content: "-";
	margin: 0 0.5em;
	display: inline-block;
}

#schemaMain .codebox {
	margin-top: 16px;
}

#schemaMain section .codebox:not(:last-of-type) {
	margin-bottom: 24px;
}

#schemaMain .codebox pre {
	padding: 20px;
	background: #F5F5F5;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 2;
	text-align: left;
	overflow: auto;
}

#schemaMain .codebox pre code {
	overflow-x: auto;
}

#schemaMain.schemaTop h2 {
	padding-left: 0;
	background: none !important;
}

#schemaMain.schemaTop h2 {
	padding-left: 0;
	background: none !important;
}

#schemaMain.schemaTop section:first-of-type {
	margin-top: 0;
}

#schemaMain em {
	font-style: italic;
}

@media screen and (max-width: 767px) {

	#schemaMain {
		width: 100%;
		font-size: 1.6rem;
		font-weight: normal;
		line-height: 1.75;
	}

	#schemaMain h1 {
		font-size: 2.4rem;
		line-height: 3.6rem;
	}

	#schemaMain h2 {
		padding: 2px 0 2px 40px;
		font-size: 2.2rem;
		line-height: 3rem;
	}

	#schemaMain #item h2 {
		background: url("img/icon01_sp.svg") no-repeat 0 2px / 30px auto;
	}

	#schemaMain #description h2 {
		background: url("img/icon02_sp.svg") no-repeat 0 2px / 30px auto;
	}

	#schemaMain #caution h2 {
		background: url("img/icon03_sp.svg") no-repeat 0 -2px / 36px auto;
	}

	#schemaMain #recommend h2 {
		background: url("img/icon04_sp.png") no-repeat 0 2px / 30px auto;
	}

	#schemaMain #deprecate h2 {
		background: url("img/icon05_sp.svg") no-repeat 0 0 / 32px auto;
	}

	#schemaMain #mapping h2 {
		background: url("img/icon06_sp.svg") no-repeat 0 2px / 30px auto;
	}

	#schemaMain h3 {
		font-size: 2rem;
		line-height: 3rem;
	}

	#schemaMain h3::before {
		top: 10px;
	}

}

/*----- flg -----*/

.flgP {
	display: block;
}

.flgS {
	display: none;
}

@media screen and (max-width: 767px) {

	.flgP {
		display: none;
	}

	.flgS {
		display: block;
	}

}

